    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
     :root {
        
        --black: #000;
        --white: #fff;
    }
    
    body {
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        color: #111;
        line-height: 1.15;
    }
    /* common */
    
    .position-relative {
        position: relative!important;
    }
    
    .list-unstyle {
        padding-left: 0;
        list-style: none;
    }
    
    .position-absolute {
        position: absolute!important;
    }
    
    .block-menu {
        flex: 1;
    }
    
    .justify-content-center {
        -ms-flex-pack: center!important;
        justify-content: center!important;
    }
    
    .d-flex {
        display: flex;
    }
    
    .d-block {
        display: block;
    }
    
    .align-items-center {
        -ms-flex-align: center!important;
        align-items: center!important;
    }
    
    .text-left {
        text-align: left!important;
    }
    
    .text-center {
        text-align: center;
    }
    
    img {
        vertical-align: middle;
        border-style: none;
    }
    
    .font-weight-bold {
        font-weight: 700!important;
    }
    
    .pd-48 {
        padding-top: 48px;
        padding-bottom: 48px;
    }
    
    .font-weight-bold {
        font-weight: 600!important;
    }
    /* ----- */
    
    #header {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 2;
        padding: 0;
        transition: all 0.2s ease-in-out;
    }
    
    
    #header div {
        margin: 0 22px;
    }
    
    .sticky {
        background: var(--black);
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
    }
    
    .sticky .menu-content ul a {
        color: var(--white);
    }
    
    .sticky li.lv_1 ul {
        background: var(--black);
    }
    
   
    
    nav {
        justify-content: space-between;
        justify-items: center;
    }
    
    .menu-content ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    
    .row {
        display: flex;
        flex-wrap: wrap;
    }
    
    .menu-content li ul {
        position: absolute;
        left: 0;
        min-width: 200px;
    }
    
    .menu- li.lv_1 {
        align-items: center;
        display: inline-flex;
    }
    
    .menu-content li.lv_1 a:hover {
        color: #b11010;
    }
    
    .menu-content li.lv_1 a {
        color: var(--white);
        margin: 0 25px;
        text-decoration: none;
        text-transform: uppercase;
        padding-top: 20px;
    }
    
    .menu-content li.lv_1 ul {
        position: absolute;
        border-left: 1px solid #fff;
        top: 100%;
        display: none;
    }
    
    .menu-content li.lv_1:hover ul {
        display: block;
    }
    
    .menu-content li.lv_2 a {
        font-size: 16px;
        transition: all .25s;
        padding: 4px 16px;
        margin: 0;
    }
    
    .menu-content li.lv_2 a:hover {
        color: #b11010;
    }
    
    .logo {
        max-width: 130px;
        padding: 16px 0px;
    }
    
    .logo img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .header-groupAction {
        color: var(--white);
        cursor: pointer;
    }
    
    .header-groupAction a{
       text-decoration: none !important;
    }
    
    .header-groupAction a:hover {
        color: #b11010 !important;
    }
    
      /* top-menu-icons */
    
    .top-menu-icons ul {
        display: flex;
        height: 100%;
    }
    
    .sticky .top-menu-icons ul {
        background: var(--black);
    }
    
    .top-menu-icons ul li.icons_lv1 {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 6px 12px;
        color: #fff;
    }
    
    .top-menu-icons ul li.icons_lv1::before {
        content: "";
        display: block;
        position: absolute;
        height: 15px;
        width: 1px;
        background-color: #333;
        right: 0;
    }
    
    .top-menu-icons ul li:last-child::before {
        display: none;
    }
    
    .top-menu-icons ul li:first-child input {
        width: 150px;
        border: none;
        background-color: transparent;
        border-bottom: 1px solid #333;
        padding: 0 0 4px 6px
    }
    
    .top-menu-icons ul li:first-child i {
        position: absolute;
        font-size: 12px;
        right: 12px;
    }
    
    .top-menu-icons ul i {
        cursor: pointer;
    }
    
    .top-menu-icons ul.dropdown_icons {
    	border-left: 1px solid #fff;
        display: none;
        top: 100%;
        width: 200px;
        height: max-content;
    }
    
    .top-menu-icons ul.dropdown_icons a {
        font-size: 16px;
        transition: all .25s;
        padding: 4px 16px;
        margin: 0;
        color: #fff;
        text-decoration: none;
    }
    
    .top-menu-icons i:hover {
        color: #b11010 !important;
    }
    
     .top-menu-icons a:hover {
        color: #b11010 !important;
        text-decoration: none;
    }
    
    .top-menu-icons .icons_lv2 :hover {
        color: #b11010 !important;
    }
    
    .top-menu-icons a{
    	color: #fff;
    }
    
    .top-menu-icons li.icons_lv2 {
        align-items: center;
        padding: 0;
        color: #fff;
        list-style: none;
    }
    
    .top-menu-icons .icons_lv1:hover ul.dropdown_icons {
        display: block;
    }
    /* end topmenu icon */
    
    .banner-main .owl-carousel {
        position: relative;
    }
    
    .banner-main .owl-dots {
        position: absolute;
        bottom: 0;
        margin: 10px;
        left: 50%;
        transform: translateX(-50%);
    }
    
    .certi h3 {
        font-size: 20px;
    }
    
    .certi p {
        font-size: 12px;
    }
    
    .headline {
        margin: 40px 0;
    }
    
    .headline b {
        display: block;
        flex: 1;
        height: 2px;
        opacity: .2;
        background-color: currentColor;
    }
    
    .new-product span {
        display: inline-block;
        text-transform: uppercase;
        color: #555;
        border: 1px solid #bebebe;
        padding: 0.3em 0.8em;
        font-size: 24px;
    }
    
    ul.products {
        flex-wrap: wrap;
        justify-content: space-between;
        list-style: none;
    }
    
    ul.products li {
        padding-left: 15px;
        padding-right: 15px;
        flex-basis: 25%;
        box-sizing: border-box;
        margin-bottom: 30px;
    }
    
    ul.products li img {
        max-width: 100%;
        height: auto;
    }
    
    ul.products li .product-infor {
        padding: 10px 0px;
    }
    
    ul.products li .product-infor a {
        display: block;
        text-decoration: none;
    }
    
    ul.products li .product-infor a.product-cate {
        font-size: 14px;
        text-transform: uppercase;
        color: #9e9e9e;
        padding: 3px 0px;
    }
    
    ul.products li .product-infor a.product-name {
        color: #334862;
        padding: 3px 0px;
    }
    
    ul.products li .product-infor .product-price {
        color: #b11010;
        padding: 2px 0px;
        font-weight: 600;
    }
    
    ul.products li .product-top {
        position: relative;
        overflow: hidden;
    }
    
    ul.products li .product-top .product-thumb img {
        display: block;
    }
    
    ul.products li:hover .product-top .product-thumb img {
        filter: opacity(80%);
    }
    
    ul.products li .product-top a.buy-now {
        text-transform: uppercase;
        text-decoration: none;
        text-align: center;
        display: block;
        border: 1px solid #b11010;
        color: #b11010;
        padding: 10px 0px;
        position: absolute;
        width: 100%;
        bottom: -41px;
        transition: .25s ease-in-out;
        opacity: 0.85;
    }
    
    ul.products li:hover .product-top a.buy-now {
        bottom: 0px;
    }
    
    .footerline h4 {
        text-decoration: underline;
        color: #999999;
        font-size: 18px;
        font-style: italic;
        cursor: pointer;
    }
    /* Footer */
    
    #footer {
        background-color: var(--black);
        color: var(--white);
        margin-top: 24px;
    }
    
    .footer-content {
        font-size: 12px;
    }
    
    .footer-content .footer-col .title {
        font-size: 13px;
    }
    
    .footer-content .footer-col ul {
        list-style: none;
    }
    
    .footer-content .footer-col {
        padding: 48px 12px 12px 0px;
    }
    
    .footer-content .footer-col li a {
        color: var(--white);
        text-decoration: none;
    }
    
    .footer-content .footer-col li {
        padding: 3px 0px;
    }
    
    .footer-content .form-sub button {
        right: 0;
        top: 0;
        height: 21px;
        background-color: #fff;
        font-size: 14px;
        padding: 0 3px;
        border: none;
    }
    
    .footer-content .form-sub input {
        height: 22px;
        padding: 0 5px;
        font-size: 9px;
    }
    
    .form-sub>div {
        width: 160px;
    }
    
    .footer-content .footer-col:last-child a i {
        font-size: 20px;
        color: var(--white);
    }
    
    .footer-content .footer-col:last-child a {
        margin-right: 16px;
    }
    
    #footer .copy-right {
        border-top: 1px solid #7b7b7b;
    }
    
    #footer .copy-right p {
        margin: 0;
        padding: 8px 0 8px;
    }
    /* Category */
    
    .category {
        padding: 100px 0 0;
    }
    
    .category-top {
        margin-bottom: 50px;
    }
    
    .category-top p {
        margin: 0 12px;
        font-size: 13px;
    }
    
    .category-left {
        width: 20%;
    }
    
    .category-right {
        width: 80%;
    }
    
    .category-right-top-item:first-child {
        flex: 2;
        font-size: 16px;
    }
    
    .category-right-top-item {
        padding: 0 12px;
    }
    
    .category-right-top-item button {
        width: 100%;
        padding: 10px 15px;
        display: flex;
        justify-content: space-between;
        background-color: var(--white);
        border: 1px solid #dddddd;
        cursor: pointer;
    }
    
    .category-right-top-item select {
        width: 100%;
        padding: 10px 15px;
        display: flex;
        justify-content: space-between;
        background-color: var(--white);
        border: 1px solid #dddddd;
        cursor: pointer;
    }
    
    .category-right-content {
        margin-top: 20px;
        justify-content: space-between;
    }
    
    .category-right-content-item {
        width: calc(25% - 12px);
        padding: 12px 0;
    }
    
    .category-right-content-item h1 {
        font-size: 16px;
        margin-top: 6px;
        color: #334862;
        cursor: pointer;
    }
    
    .category-right-content-item img {
        width: 100%;
        cursor: pointer;
    }
    
    .category-right-content-item p {
        color: #b11010;
        padding: 2px 0px;
        font-weight: 600;
    }
    
    .category-right-content-item a {
        text-decoration: none !important;
    }
    
    
    
    .category-right-bottom {
        justify-content: center;
        margin: 8px 0px 0px;
        width: 100%;
    }
    
    .category-left ul li {
        padding: 8px 0;
        list-style: none;
    }
    
    .category-left ul li>a {
        color: var(--black);
        font-size: 16px;
        font-weight: bold;
    }
    
    .category-left ul .category-left-li .category-sub .category-sub-li {
        padding-left: 10px;
    }
    
    .category-left-li ul {
        display: none;
    }
    
    .category-left-li.block ul.category-sub {
        display: block;
    }
    
    .category-left ul li.category-left-li ul.category-sub li.category-sub-li a {
        color: #333333;
        font-size: 14px;
    }
    
    .category-left li a {
        text-decoration: none;
    }
    /* product */
    
    .product {
        padding: 100px 0 0;
    }
    
    .product-top {
        margin-bottom: 30px;
    }
    
    .product-top p {
        margin: 0 12px;
        font-size: 13px;
    }
    
    .product-content-left {
        width: 50%;
    }
    
    .product-content-left__avatar {
        width: 80%;
        padding-right: 20px;
    }
    
    .product-content-left__avatar img {
        width: 100%;
    }
    
    .product-content-left__picture {
        width: 20%;
    }
    
    .product-content-left__picture img {
        width: 100%;
        padding-bottom: 4px;
    }
    
    .product-content-right {
        width: 50%;
        padding-left: 64px;
    }
    
    .product-content-right__title h1 {
        font-size: 18px;
    }
    
    .product-content-right__title p {
        color: #999999;
        font-size: 12px;
    }
    
    .product-content-right__price {
        margin: 12px 0;
        font-size: 18px;
        color: #b11010;
    }
    
    .product-shortDes {
        margin-bottom: 20px;
        font-size: 14px;
    }
    
    .product-content-right__size p {
        margin: 0;
        font-size: 14px;
    }
    
     .pd--size {
        margin: 0 0 16px;
    }
    
    .pd--size select {
        border: none;
        box-shadow: 0 0 5px #ccc;
        opacity: 1!important;
        cursor: pointer;
        width: 160px;
        margin-top: 10px;
        font-size: 14px;
        padding: 2px 8px;
    }
    
    .pd--quantity {
        margin-bottom: 20px;
    }
    
    .pd--quantity input {
        font-size: 14px;
        color: #3f4140;
        width: 50px;
        height: 25px;
        display: block;
        border: 1px solid #dddddd;
        cursor: pointer;
        text-align: center;
    }
    
    .pd--quantity button {
        border: 1px solid #ccc;
        font-size: 18px;
        color: #3f4140;
        width: 25px;
        height: 25px;
        line-height: 24px;
        cursor: pointer;
        user-select: none;
    }
    
    .pd--button button {
        width: 350px;
        color: #fff !important;
        font-size: 14px;
        background-color: #000;
        padding: 6px 12px;
        cursor: pointer;
        margin-bottom: 40px;
    }
    
    .product-content-right-bottom {
        padding-top: 40px;
        border-top: 1px solid #dddddd;
        position: relative;
    }
    
    .product-content-right-bottom-top {
        position: absolute;
        width: 30px;
        height: 30px;
        border: 1px solid #dddddd;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        top: -15px;
        left: 50%;
        border-radius: 50%;
        transform: translateX(-50%);
        cursor: pointer;
    }
    
    .product-content-right-bottom-content-title {
        border-bottom: 2px solid #dddddd;
    }
    
    .product-content-right-bottom-content-title-item {
        padding: 6px;
        cursor: pointer;
        margin-right: 6px;
    }
    
    .product-content-right-bottom-content-title-item p {
        font-size: 14px;
    }
    
    .product-content-right-bottom-content {
        padding-top: 30px;
    }
    
    .product-content-right-bottom-content {
        font-size: 13px;
    }
    
    
    .activeB {
        display: none;
    }
    
    .modal {
        display: block !important;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.6);
    }
    
    .modal__content {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 500px;
        top: 20%;
        margin: auto;
        pointer-events: auto;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 2px;
        outline: 0;
        overflow: hidden;
        animation: showModal linear 0.2s;
    }
    
    .hide {
        display: none !important;
    }
    
    @keyframes showModal {
        from {
            top: -200px;
            opacity: 0;
        }
        to {
            top: 20%;
            opacity: 1;
        }
    }
    
    .modal__header {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 1rem 1rem;
        border-bottom: 1px solid #dee2e6;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
    }
    
    .modal__body {
        position: relative;
        flex: 1 1 auto;
        padding: 1rem;
    }
    
    .modal__body img {
        height: auto;
        max-width: 100%;
    }
    
    .modal__footer {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 1rem;
        border-top: 1px solid #dee2e6;
        border-bottom-right-radius: 2px;
        border-bottom-left-radius: 2px;
    }
    
    .modal__footer .btn-secondary {
        color: #fff;
        background-color: #6c757d;
        border-color: #6c757d;
        font-size: 14px;
    }
    
    i {
        cursor: pointer;
        font-size: 18px;
    }
    
    /* Cart */
    
    .cart {
        padding: 100px 0;
    }
    
    .step--top {
        height: 2px;
        width: 70%;
        background-color: #dddddd;
        justify-content: space-between;
        margin: 50px 0 100px;
        align-items: center;
    }
    
    .step--top__icon {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid #dddddd;
        align-items: center;
        background-color: var(--white);
    }
    
    .step--top__icon i {
        color: #dddddd;
    }
    
    .step--top__cart {
        border: 1px solid #0db7ea;
    }
    
    .step--top__cart i {
        color: #0db7ea;
    }
    
    .cart--content__left {
        flex: 2;
        padding-right: 12px;
    }
    
    .cart--content__left table {
        width: 100%;
        text-align: center;
    }
    
    .cart--content__left table th {
        padding-bottom: 30px;
        font-size: 11px;
        text-transform: uppercase;
        color: #666;
        border-collapse: collapse;
        border-bottom: 2px solid #ddd;
    }
    
    .cart--content__left table p {
        font-size: 13px;
        color: #333;
    }
    
    .cart--content__left .quantityProductCart button{
    	border: 1px solid #ccc;
    	font-size: 18px;
    	color: #3f4140;
    	width: 25px;
    	height: 25px;
    	line-height: 24px;
    	cursor: pointer;
    	user-select: none;
    }
    
    .cart--content__left .quantityProductCart span{
    	font-size: 13px;
   	 	color: #3f4140;
    	width: 25px;
    	height: 25px;
    }
    
    
    
    .cart--content__left table input {
        text-align: center;
        width: 30px;
        height: 18px;
        font-size: 13px;
    }
    
    .cart--content__left table span {
        display: block;
        width: 20px;
        height: 20px;
        border: 1px solid #dddddd;
        cursor: pointer;
    }
    
    .cart--content__left table td {
        padding: 20px 0;
        border-bottom: 1px solid #ccc;
    }
    
    .cart--content__left .cart--avatar img {
        width: 130px;
    }
    
    .cart--content__left td:nth-child(2) {
        max-width: 130px;
        font-size: 13px;
    }
    
    .cart--content__left .delete-btn {
        text-decoration: none;
        color: #000000;
        border: 1px solid #999;
        width: 15px;
        height: 15px;
        display: block;
        margin: auto;
        text-align: center;
        line-height: 11px;
        font-size: 13px;
    }
    
    .cart--content__right {
        flex: 1;
        padding-left: 12px;
        border-left: 1px solid #ccc;
    }
    
    .cart--content__right table {
        width: 100%;
    }
    
    .cart--content__right table th {
        padding-bottom: 30px;
        font-size: 13px;
        color: #333;
        border-collapse: collapse;
        border-bottom: 1px solid #ccc;
        text-transform: uppercase;
    }
    
    .cart--content__right table td {
        font-size: 13px;
        color: #333;
        padding: 6px 0;
    }
    
    .cart--content__right :nth-child(3) td {
        border-bottom: 1px solid #ccc;
    }
    
    .cart--content__right tr td:last-child {
        text-align: right;
    }
    
    .cart--content__right-text {
        margin: 20px 0;
    }
    
    .cart--content__right-text p {
        margin: 20px 0;
        font-size: 13px;
        color: #333;
    }
    
    .cart--content__right-button button {
        padding: 0 18px;
        height: 35px;
        cursor: pointer;
        font-size: 13px;
        font-weight: bold;
    }
    
    .cart--content__right-button .keep-shopping button{
        background-color: var(--white);
        border: 1px solid var(--black);
        margin-right: 4px;
        transition: all 0.3s ease;
    }
    
    .cart--content__right-button .keep-shopping button:hover {
        background-color: #f2f2f2;
        color: var(--black);
    }
    
    .cart--content__right-button .check-out button {
        background-color: var(--black);
        color: var(--white);
        border: 1px solid #000;
        transition: all 0.3s ease;
    }
    
    .cart--content__right-button .check-out button:hover {
        background-color: #f2f2f2;
        color: var(--black);
        border: 1px solid #000;
    }
    
    .cart--content__right-loginAlert {
        margin-top: 20px;
    }
    
    .cart--content__right-loginAlert p {
        font-size: 13px;
        color: #333;
    }
    
    .cart--content__right-loginAlert p:last-child {
        padding-left: 15px;
    }
    
    /* Delivery */
    
    .delivery {
        padding: 100px 0;
    }
    
    .step--top__address {
        border: 1px solid #0db7ea;
    }
    
    .step--top__address i {
        color: #0db7ea;
    }
    
    .delivery--content__left {
        flex: 2;
        padding-right: 12px;
    }
    
    .delivery--content__left p {
        font-size: 13px;
        font-weight: bold;
    }
    
    .delivery--content__left label {
        font-size: 13px;
        font-weight: bold;
        margin-bottom: 6px;
        display: block;
    }
    
    .delivery--content__left-login {
        margin-top: 12px;
        cursor: pointer;
        display: flex;
    }
    
    .delivery--content__left-login i {
        font-size: 13px;
        margin-right: 4px;
        margin-top: 4px;
    }
    
    .delivery--content__left-input--top {
        justify-content: space-between;
        margin: 0;
    }
    
    .input--top__item {
        width: calc(50% - 12px);
    }
    
    .input--top__item input {
        width: 100%;
        height: 35px;
        border: 1px solid #dddddd;
        padding-left: 6px;
    }
    
    .input--top__item--bottom input {
        width: 100%;
        height: 35px;
        border: 1px solid #dddddd;
        padding-left: 6px;
    }
    
    .delivery--content__left-input--button a p {
        display: inline-block;
        font-size: 13px;
    }
    
    .delivery--content__left-input--button a span {
        margin-right: 12px;
    }
    
    .delivery--content__left-input--button {
        justify-content: space-between;
        margin: 0;
    }
    
    .delivery--content__left-input--button .back-to-cart {
        margin-top: 5px;
        color: #C90;
        text-decoration: none;
    }
    
    .delivery--content__left-input--button button {
        margin-top: 20px;
        height: 35px;
        border: 2px solid black;
        padding: 6px 12px;
        cursor: pointer;
        font-size: 12px;
        background-color: #f2f2f2;
        font-weight: bold;
        transition: all 0.3s ease;
    }
    
    .delivery--content__left-input--button button:hover {
        background-color: black;
        color: #fff;
    }
    
    .delivery--content__right {
        flex: 1;
        padding-left: 12px;
        border-left: 1px solid #ccc;
    }
    
    .delivery--content__right table {
        width: 100%;
    }
    
    .delivery--content__right table th {
        padding-bottom: 5px;
        font-size: 11px;
        color: #333;
        border-collapse: collapse;
        border-bottom: 1px solid #ccc;
        text-transform: uppercase;
    }
    
    .delivery--content__right table tr.delivery-pd td {
        font-size: 13px;
        color: #333;
        padding-top: 10px;
        padding-bottom: 5px;
        border-bottom: 1px solid #ccc;
    }
    
    .delivery--content__right table tfoot tr td {
        font-size: 13px;
        color: #333;
        padding-top: 10px;
    }
      /* ----------------------Payment---------------------- */
    
    .payment {
        padding: 100px 0;
    }
    
    .step--top__pay {
        border: 1px solid #0db7ea;
    }
    
    .step--top__pay i {
        color: #0db7ea;
    }
    
    .payment-top-wrap {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .payment-top {
        height: 2px;
        width: 70%;
        background-color: #dddddd;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 50px 0 100px;
    }
    
    .payment-top-item {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid #dddddd;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
    }
    
    .payment-top-item i {
        color: #dddddd;
    }
    
    .payment-top-payment {
        border: 1px solid #0DB7EA;
    }
    
    .payment-top-payment i {
        color: #0DB7EA;
    }
    
    .payment-content-left {
        width: 60%;
    }
    
    .payment-content-right {
        width: 40%;
        border-left: 2px solid #ddd;
        padding-left: 12px;
    }
    
    .payment-content-left p,
    label {
        font-size: 12px;
        font-family: var(--main-text-font);
    }
    
    .payment-content-right-button {
        display: flex;
        padding: 12px 0;
        border-bottom: 1px dashed #dddddd;
    }
    
    .payment-content-right-button input {
        height: 30px;
        width: 200px;
        margin-right: 100px;
        padding-left: 12px;
    }
    
    .payment-content-right-button button {
        height: 30px;
        width: 100px;
        background-color: black;
        color: white;
        border: none;
        cursor: pointer;
    }
    
    .payment-content-right-mnv {
        margin-top: 20px;
    }
    
    .payment-content-right-mnv select {
        height: 30px;
        width: 100%;
        color: #75758A;
        padding-left: 12px;
    }
    
    .payment-content-right-payment {
        margin-top: 50px;
        align-items: center;
        text-align: center;
    }
    
    .payment-content-right-payment button {
        height: 35px;
        padding: 0 20px;
        font-size: 12px;
        color: black;
        cursor: pointer;
        transition: all 0.3s ease;
        border: 2px solid black
    }
    
    .payment-content-right-payment button:hover {
        background-color: black;
        color: #fff;
    }
    
    /* ------------CONTACT------------ */
    
    .contact {
        padding: 100px 0;
    }
    
    .contact--title h4 {
        text-align: center;
        font-size: 15px;
        font-weight: bold;
        text-transform: uppercase;
        color: #333;
        letter-spacing: 1px;
        margin-top: 20px;
        margin-bottom: 50px;
    }
    
    .contact--content .contact--content__left-title h4 {
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-bottom: 10px;
        color: #333;
    }
    
    .contact--content .contact--content__left-title .art-h4 {
        padding: 20px 0px 20px 0px;
        font-size: 20px;
    }
    
    .contact--content__left .contact--content__left-info .left-info-content {
        margin-top: 15px;
        padding-left: 15px;
    }
    
    .contact--content__left .contact--content__left-info .left-info-content li {
        font-size: 13px;
        color: #000000;
        margin-bottom: 4px;
    }
    
    .contact--content__left .contact--content__left-info li.li-parent {
        border-bottom: 1px dotted #ccc;
        padding: 10px 0;
    }
    
    .contact--content__left .contact--content__left-info .left-info-phone {
        font-size: 14px;
    }
    
    .contact--content__left .contact--content__left-info p {
        font-size: 12px;
        color: #666666;
    }
    
    .left-info-form input {
        width: 100%;
        height: 30px;
        border: 1px solid #ccc;
        padding: 0 10px;
        font-size: 13px;
    }
    
    .left-info-form textarea {
        width: 100%;
        padding: 10px;
        height: 80px;
        border: 1px solid #ccc;
        font-size: 13px;
    }
    
    .left-info-form .row {
        margin-bottom: 10px;
    }
    
    .left-info-form {
        margin-top: 15px;
        padding-left: 15px;
    }
    
    .left-info-form .form-btn button {
        padding: 7px 30px;
        font-size: 13px;
        text-transform: uppercase;
        background: #000;
        color: #fff;
        border: 0px;
        letter-spacing: 1px;
    }
    